#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 36px;
    right: 353px;

    width: 30px;
    height: 27px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #212733;

    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;

    width: 751px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #191A1E;

    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 20px 80px;

    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 30%;

    text-decoration: none;

    transition-duration: .25s;
}

button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    border: none;
    background: linear-gradient(90deg, #074D88 0%, #61B3C9 100%);

    margin: 210px 0 130px 80px;
    padding: 20px 30px;
    cursor: pointer;
}

button a {
    color: #FFFFFF;
    text-decoration: none;
}

.menu__links {
    display: flex;
    margin: 0 80px;
}

.menu__link {
    font-size: 15px;
    color: #17181C;

    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;

    margin-left: 10px;
}

.menu__item:hover {
    opacity: 1;
}